input[type=text]
{
	width: calc(100% - 20px - 43px);
	padding: 10px;
}

input[type=button]
{
	width: 39px;
	height: 39px;
}

body
{
	background: #fbfbfb;
	font-family: arial;
}

input[type=text], input[type=button], button
{
	border-radius: 5px;
	outline: none;
}

.Header
{
	width: 100%;
	text-align: center;
	font-size: 19pt;
    margin-bottom: 10px;
}

.desk
{
	width: 500px;
	background: #f5f5f5;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #f5f2f2;
	margin-left: calc(50% - 260px);
}

.Notes
{
	margin-top: 20px;
}

.Note
{
	width: 463px;
	float: left;
	line-height: 15pt;
}

.noteItem
{
	margin-bottom: 10px;
	display: table;
	padding: 5px;
	border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.noteItem:hover
{
	background: #d4d4d4;
}

.Bottom
{
	margin-top: 20px;
	font-size: 10pt;
	text-align: center;
	color: #808080;
}